{% extends 'base.html' %}
{% block title %}about{% endblock %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to my Ecommerce Practice Project</p>
                </div>
            </div>
        </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br/><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra, risus id ultricies sagittis, elit est tincidunt odio, ac mattis libero tellus eget risus. Sed ac mi quam. Curabitur eget velit sed sapien luctus placerat. Vestibulum faucibus malesuada enim, at commodo urna cursus et. Vivamus orci augue, sagittis id dui ut, aliquet elementum velit. Duis non consequat sem. Cras volutpat tempus vestibulum.
<br/><br>
Aenean ut porta nibh. Nam aliquam tellus congue nibh suscipit vestibulum. Sed molestie malesuada blandit. Nam egestas finibus sapien, eget dictum leo fermentum quis. Pellentesque sed luctus elit. Cras sit amet ipsum sollicitudin, dapibus elit vel, fermentum mi. Praesent cursus ornare metus rutrum consectetur. Integer dui dui, imperdiet in varius ac, aliquet id sapien. Donec vestibulum molestie magna, vitae suscipit metus lacinia rutrum. Aliquam sagittis neque non dui consectetur, sit amet dictum nisl euismod. Cras pretium, dolor at placerat imperdiet, magna purus vehicula libero, in lobortis dolor turpis eu sem. Aliquam a odio urna. Etiam feugiat molestie enim, quis viverra enim vestibulum ac. Sed malesuada risus at ligula vulputate, sit amet vehicula massa laoreet.
<br/><br>
Nunc nulla dolor, euismod in felis ut, porttitor tempor risus. Nullam eget mollis mi. Praesent sodales accumsan nibh. Praesent aliquam quam at leo euismod, sed commodo augue consectetur. Etiam suscipit augue at tortor tincidunt, vel condimentum velit convallis. Integer tempus quam vitae neque imperdiet porta. Nullam feugiat dolor eget urna dictum, in pellentesque massa rhoncus. Mauris tincidunt libero ex, ut dictum dui egestas non. Donec ac lobortis leo, sed aliquam ante.
                <br/><br>
                <br/><br>
                <br/><br>
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}