{% extends 'base.html' %}
{% block title %}Django Ecommerce{% endblock %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
            </div>
        </div>
    </header>
    <div class="container">
    <br>
        {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <center>
          <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <br>
        <p class="card-text">{{ product.description }}</p>
          {% if product.is_sale %}
            <span class="text-muted text-decoration-line-through">${{product.price}}</span>
                                    ${{ product.sale_price }}
          {% else %}
              ${{ product.price }}
          {% endif %}
          <br><br>
          <div class="row justify-content-center">
              Quantity:
              <div class="col-md-2">
                  <select class="form-select" id="select{{ product.id }}">
                      <option selected>
                          {% for key, value in quantities.items %}
                              {% if key == product.id|slugify%}
                                  {{ value }}
                              {% endif %}
                          {% endfor %}    
                      </option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
              </div>
          </div>
      <br><br>
        <a href="{% url 'store:home' %}" class="btn btn-outline-dark mt-auto">Home</a>
          <button type="submit" data-index="{{ product.id }}" class="btn btn-outline-dark update-cart">Update</button>
      </div>
      </center>
    </div>
  </div>
</div>
        {% endfor %}
    {% else %}
    There's Nothing in Your Cart...
    <br><br><br><br><br><br><br><br><br>       
    {% endif %}
    <br>
    </div>
    
    
<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    // grab the product id
    var productid = $(this).data('index');
    
    $.ajax({
        type: 'POST',
        url: '{% url 'cart:cart_update' %}',
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + 'option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
            
        },
    });
})

</script>    
    
{% endblock %}