{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

    <div class="container">
    <br>
        <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <center>
          <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <br>
        <p class="card-text">{{ product.description }}</p>
          {% if product.is_sale %}
            <span class="text-muted text-decoration-line-through">${{product.price}}</span>
                                    ${{ product.sale_price }}
          {% else %}
              ${{ product.price }}
              <br>
              ID: {{ product.id }}
          {% endif %}
      <br><br>
        <a href="{% url 'store:home' %}" class="btn btn-outline-dark mt-auto">Home</a>
          <button type="button" value="{{ product.id }}" class="btn btn-outline-dark mt-auto" id="add-cart">Add To Cart</button>
      </div>
      </center>
    </div>
  </div>
</div>
    <br>
    </div>
<br><br><br><br><br><br><br><br><br><br>
    
<script>

// Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart:cart_add' %}',
        data: {
            product_id: $('#add-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            document.getElementById("cart_quantity").textContent = json.qty
        },
        error: function(xhr, errmsg, err){
            
        },
    });
})

</script>    
    
{% endblock %}