{% extends 'base.html' %}
{% block title %}Shipped Items{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <div class="card">
                        <div class="card-header">
                            Order: {{ order.id }} - ${{ order.amount_paid }}
                        </div>
                        <div class="card-body">
                            Email: {{ order.email}}<br>
                            {% if order.date_shipped %}
                                Date Shipped: {{ order.date_shipped }}<br>
                            {% else %}
                                Date Ordered: {{ order.date_ordered }}<br>
                            {% endif %}
                            Full Name: {{ order.full_name }}<br>
                            Shipping Address: {{ order.shipping_address }}<br>
                            {% for item in items %}
                                {{ item.product }} - {{ item.quantity }} - ${{ item.price }}<br>
                            {% endfor %}
                        </div>
                    </div>
                    <br><br>
                </div>
            </center>
        </div>
    </div>

{% endblock %}